
@import "~bootstrap/dist/css/bootstrap";


body{
  @media (prefers-color-scheme: dark) {
    background-color: var(--dark);
    color: aliceblue;
    .form-control{
      background-color: var(--dark);
      color: aliceblue;
      &:focus{
        background-color: var(--dark);
        color: aliceblue;
      }
      &:disabled{
        background-color: #505050;
        color: aliceblue;
      }
      &::placeholder{
        color: #acacac;
      }
    }
    .bg-secondary{
      background-color: #6c757d!important;
    }


  }
  @media (prefers-color-scheme: light) {
    background-color: var(--light);
    color: var(--dark);
    .bg-secondary{
      background-color: #a6afb7!important;
    }
    button.bg-secondary:hover, button.bg-secondary:focus {
      background-color: #a6afb7 !important;
    }
  }

}

.border-success{
  border: 2px solid var(--success);
}



